<h1>
    About Me
</h1>
<p>
    Currently, I'm pursuing a Software Engineering degree at Brigham Young University-Idaho. I have worked extensively in IT Support and Software QA. In my free time, I enjoy capturing breathtaking moments through photography. Technology has the potential to solve so many problems, and I can't wait to make a difference. 
</p>
<img id="profile-pic" src="/images/bradyhodge-3.jpg" alt="Photo of Brady Hodge">